@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  font-family: 'Itim', cursive;
  -webkit-user-select: none;
}

@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}